<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Free Bootstrap Admin Template : Dream</title>
    <!-- Bootstrap Styles-->
    <link th:href="@{/assets/css/bootstrap.css}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link th:href="@{/assets/css/font-awesome.css}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link th:href="@{/assets/css/custom-styles.css}" rel="stylesheet" />
    <!-- Google Fonts-->
    <link th:href="@{http://fonts.googleapis.com/css?family=Open+Sans}" rel='stylesheet' type='text/css' />
    <!-- TABLE STYLES-->
    <link th:href="@{/assets/js/dataTables/dataTables.bootstrap.css}" rel="stylesheet" />
</head>

<body>
    <div id="wrapper">
        <div th:replace="/bar::topbar" ></div>
        <!--/. NAV TOP  -->
        <div th:replace="/bar::sidebar"></div>

        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">


                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            [[${success.getData.username}]]，您已登录缺陷管理系统 <small>Summary of your system</small>
                        </h1>
                    </div>
                </div>
                <!-- /. ROW  -->
				<footer><p>All right reserved. Template by: <a href="http://webthemez.com">WebThemez</a></p></footer>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script th:src="@{/assets/js/jquery-1.10.2.js}"></script>
    <!-- Bootstrap Js -->
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <!-- Metis Menu Js -->
    <script th:src="@{/assets/js/jquery.metisMenu.js}"></script>
    <!-- Morris Chart Js -->
    <script th:src="@{/assets/js/morris/raphael-2.1.0.min.js}"></script>
    <script th:src="@{/assets/js/morris/morris.js}"></script>
    <!-- Custom Js -->
    <script th:src="@{/assets/js/custom-scripts.js}"></script>

</body>

</html>